.audio__container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: stretch;
    align-items: center;
    /* gap: 1rem; */
    /* background: var(--header-color); */
    padding: 0.25rem;
    overflow: hidden;
}

.audio__container.hidden {
    display: none;
}

.audio__controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem 1rem;
    gap: 1rem;
}

.audio__control-button {
    opacity: 0.8;
    display: grid;
    place-items: center;
    background: transparent;
    /* height: 1.5rem; */
    aspect-ratio: 1;
    font-size: 1.5rem;
    transition: opacity 250ms, scale 250ms;
}

.audio__control-button:hover {
    opacity: 1;
    scale: 1.05;
}

.audio__control-button:active {
    opacity: 0.7;
    scale: 0.99;
}

.audio__play-button {
    font-size: 3rem;
}

.audio__main-content {
    flex-grow: 1;
    min-width: 10rem;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* gap: 0.25rem; */
    color: var(--font-color);
    padding: 0.25rem 0.5rem;
    background: var(--hover-button-background);
    border-radius: 3px;
}

.audio__title {
    height: 1.5rem;
    text-align: center;
    white-space: nowrap;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.audio__progress-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 1rem;
}

.control__progressbar-container {
    position: relative;
    --completion: 0%;
    height: 1rem;
    width: 100%;
    display: grid;
    place-items: center;
    cursor: pointer;
}

.control__progressbar {
    position: relative;

    width: 100%;
    height: 3px;
    background-color: var(--selection-color);
}

.control__progressbar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: var(--completion);
    background: var(--accent-color);
}

.control__progressbar::after {
    content: "";
    position: absolute;
    top: 50%;
    height: 0;
    aspect-ratio: 1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    left: var(--completion);
    background: var(--accent-color);
    transition: height 150ms, left var(--transition-duration) linear;
}

.control__progressbar-hint {
    position: absolute;
    font-size: 0.9rem;
    width: fit-content;
    height: fit-content;
    padding: 0 0.25rem;
    border-radius: 3px;
    background: red;
    color: var(--main-color);
    background: var(--font-color);
    left: var(--mouse-x);
    top: 0;
    transform: translate(-50%, calc(-100%));
    z-index: 2;
    pointer-events: none;
    opacity: 0;
    transition: opacity 150ms;
}

.control__progressbar-container:hover .control__progressbar-hint {
    opacity: 1;
}

.control__progressbar-hint::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    background: transparent;
    transform: translate(-50%, 100%);
    width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 3px solid var(--font-color);
    z-index: 2;
}

.audio__volumebar-container {
    width: 4rem;
}

.audio__seekbar-container {}

.audio__seekbar {}

.audio__seekbar::before {
    transition: width var(--transition-duration) linear;
}

.audio__seekbar::after {}

.control__progressbar-container:hover .control__progressbar::after {
    height: 314%;
}

.audio__shuffle-button.active {
    position: relative;
    opacity: 1;
    /* border-bottom: 1px solid var(--font-color); */
}

.audio__shuffle-button.active::after {
    position: absolute;
    top: calc(100% - 0.5rem);
    left: 50%;
    transform: translateX(-50%);
    content: "ON";
    height: 100%;
    width: 100%;
    font-size: 0.6rem;
    color: var(--font-color);
}