.audio__container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: stretch;
    align-items: center;
    /* gap: 1rem; */
    /* background: var(--header-color); */
    padding: 0.25rem;
}

.audio__controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem 1rem;
    gap: 1rem;
}

.audio__control-button {
    opacity: 0.8;
    display: grid;
    place-items: center;
    background: transparent;
    /* height: 1.5rem; */
    aspect-ratio: 1;
    font-size: 1.5rem;
    transition: opacity 250ms, scale 250ms;
}

.audio__control-button:hover {
    opacity: 1;
    scale: 1.05;
}

.audio__control-button:active {
    opacity: 0.7;
    scale: 0.99;
}

.audio__play-button {
    font-size: 3rem;
}

.audio__main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* gap: 0.25rem; */
    color: var(--font-color);
    padding: 0.25rem 0.5rem;
    background: var(--hover-button-background);
    border-radius: 3px;
}

.audio__title {
    height: 1.5rem;
    text-align: center;
    white-space: nowrap;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.audio__progress-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 1rem;
}

.audio__seekbar-container {
    height: 1rem;
    width: 100%;
    display: grid;
    place-items: center;
    cursor: pointer;
}

.audio__seekbar {
    position: relative;
    --completion: 0%;
    width: 100%;
    height: 3px;
    background-color: var(--selection-color);

}

.audio__seekbar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: var(--completion);
    background: var(--accent-color);
    transition: width var(--transition-duration) linear;
}

.audio__seekbar::after {
    content: "";
    position: absolute;
    top: 50%;
    height: 0;
    aspect-ratio: 1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    left: var(--completion);
    background: var(--accent-color);
    transition: height 150ms, left var(--transition-duration) linear;
}

.audio__seekbar-container:hover .audio__seekbar::after {
    height: 314%;
}