.context-menu {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 15rem;
    width: fit-content;
}

.context-menu__container {
    padding: 0.25rem;
    background-color: var(--main-color);
    color: var(--font-color);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */

}

.contextmenu__item {}

.radio-container {
    padding: 0.5rem 0.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    cursor: pointer;
    border-radius: 5px;
}

.radio-container:hover {
    background-color: var(--hover-button-background);
}

.radio-container>input {
    display: none;
}