.svg-icon {
    font-size: inherit;
    display: inline-block;
    height: 1em;
    aspect-ratio: 1;
    background: var(--font-color);
    mask-size: contain;
    mask-position: center;
    mask-repeat: no-repeat;
}

.back-icon {
    mask-image: url(../assets/icons/arrow_back.svg);
}

.forward-icon {
    mask-image: url(../assets/icons/arrow_forward.svg);
}

.home-icon {
    mask-image: url(../assets/icons/home.svg);
}

.refresh-icon {
    mask-image: url(../assets/icons/refresh.svg);
}

.folder_info-icon {
    mask-image: url(../assets/icons/folder_info.svg);
}

.swap_folder-icon {
    mask-image: url(../assets/icons/folder_swap.svg);
}

.video_library-icon {
    mask-image: url(../assets/icons/video_library.svg);

}

.delete-icon {
    mask-image: url(../assets/icons/delete.svg);
}

.play_audio-icon {
    mask-image: url(../assets/icons/play.svg);
}

.pause_audio-icon {
    mask-image: url(../assets/icons/pause.svg);
}

.next_audio-icon {
    mask-image: url(../assets/icons/next_audio.svg);
}

.prev_audio-icon {
    mask-image: url(../assets/icons/prev_audio.svg);
}

.shuffle-icon {
    mask-image: url(../assets/icons/shuffle.svg);
}

.sort-icon {
    mask-image: url(../assets/icons/sort.svg);
}

.mute-icon {
    mask-image: url(../assets/icons/mute.svg);
}

.volume-icon {
    mask-image: url(../assets/icons/volume.svg);
}

.folder_list-icon {
    mask-image: url(../assets/icons/folder_list.svg
);
}