.files-list {
    position: relative;
    flex: 1;
    width: 100%;
    overflow-y: auto;
}

.files-list.video-view {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-content: start;
    justify-content: space-evenly;
}

.folder__list-item {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    padding: 0.25rem 0.5rem;
    background-color: transparent;
    color: var(--font-color);
    border: 1px solid transparent;
    /* border-bottom: 1px dotted black; */
    cursor: pointer;
    transition: background-color 150ms;
    user-select: none;
}

.folder__list-item:nth-child(even) {
    background-color: var(--file-bg-even);
}

.folder__list-item:hover {
    background-color: var(--selection-color) !important;
    border-color: var(--accent-color) var(--accent-color);
}

.folder__list-item.played {

    background-color: var(--selection-color) !important;
    border-left: 3px solid var(--accent-color);

}

.folder__list-item.played .list-item__title {
    color: var(--active-color);
    font-weight: bold;
}

.folder__list-item[data-type="folder"] {
    width: 100%;
    height: fit-content;

    background-color: var(--folder-bg);
}

.folder__list-item[data-type="folder"]:nth-child(even) {
    background-color: var(--folder-bg-even);
}

.list-item__column {
    flex-basis: 5rem;
}

.list-item__column.list-item__icon {
    flex-basis: 1rem;
    height: 1rem;
    aspect-ratio: 1;
    background: red;
}

.list-item__column.list-item__title {
    /* flex-grow: 1; */
    /* flex-shrink: 1; */
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    flex-basis: auto;
}

.list-item__space {
    flex: 1 1 auto;
}

.list-item__size {
    text-align: right;
}

.list-item__file-type {
    text-transform: uppercase;
    flex-basis: 3rem;
    text-align: start;
}

.text-badge {
    --badge-bg: var(--selection-color);
    /* --font-color: white; */
    padding: 0 0.25rem;
    font-size: 0.9rem;
    background: var(--badge-bg);
    color: var(--font-color);
    border-radius: 2px;
    border: 1px solid transparent;
}

.list-item__size {}

.list-item__size.size-0 .text-badge {
    /* --font-color: white; */
}

.list-item__size .text-badge {
    --font-color: black;
}

.list-item__size.size-7 .text-badge {
    --badge-bg: red;
}

.list-item__size.size-6 .text-badge {
    --badge-bg: rgb(228, 148, 74);
}

.list-item__size.size-5 .text-badge {
    --badge-bg: rgb(203, 223, 90);
}

.list-item__size.size-4 .text-badge {
    --badge-bg: rgb(123, 255, 0);
}

.list-item__size.size-3 .text-badge {
    --badge-bg: rgb(9, 255, 0);
}

.list-item__size.size-2 .text-badge {
    --badge-bg: rgb(216, 240, 221);
}

.list-item__size.size-1 .text-badge {
    --badge-bg: rgb(255, 255, 255);
}

.list-item__button-container {
    flex-basis: 1.5rem;
    flex-shrink: 0;
}

.list-item__button {
    display: grid;
    place-items: center;
    font-size: 1.2rem;
    border: 1px solid transparent;
    border-radius: 2px;
    background: transparent;
    transition: border-color 150ms, background 150ms;

}

.list-item__button:hover {
    border-color: transparent;
    background: rgba(255, 255, 255, 0.2);
}

.list-item__button:active {
    background: rgba(255, 255, 255, 0.1);
}

.folder__list-item:not(:hover) .delete-button {
    display: none;
    /* flex-basis: 0;
    width: 0; */
}

/* .list-item__column:hover .delete-button {
    display: grid;
} */
.video-item {
    width: calc(100% / 3 - 1rem);
    transition: 200ms;
    /* display: inline; */
}

.video-item:hover {
    /* scale: 1.3; */
    /* display: inline; */
}

.list__video-container {
    border-radius: 5px 5px 0 0;
    width: 100%;
}

.folder__list-item.video-item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 0;
    border-radius: 5px;
    padding: 0;
}

.list__video-details {
    border-radius: 0 0 5px 5px;
    /* position: absolute; */
    padding: 0.25rem 0.5rem;
    /* bottom: 0;
    left: 0; */
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    color: var(--font-color);
    background-color: var(--main-color);
}

.list__video-buttons {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    top: 0rem;
    right: 0rem;
    /* background: var(--main-color); */
    padding: 0.25rem;
}