@import url(./reset.css);
@import url(./list.css);
@import url(./icons.css
);

* {
  font-size: 1rem;
  font-family: system-ui;
}

::-webkit-scrollbar {
  width: 1rem;
  height: auto;
}

::-webkit-scrollbar-thumb {
  background: rgba(97, 97, 97, 0.3);
  border-radius: 2px;

}

::-webkit-scrollbar-track {
  background: rgba(32, 32, 32);
  ;
}

:root {
  --main-color: #191919;
  --font-color: whitesmoke;
  --accent-color: rgb(15, 108, 189);
  --selection-color: rgb(15, 108, 189, 0.2);
  /* --main-color: #ffffff;
  --font-color: rgb(24, 24, 24);
  --accent-color: rgb(15, 108, 189);
  --selection-color: rgb(15, 108, 189, 0.2); */
}

.app {
  background: var(--main-color);
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.app-header {
  --font-color: white;
  background: rgba(32, 32, 32);
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
  padding: 0.5rem;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  /* background: linear-gradient(270deg, orange, cyan, rgb(0, 255, 55)); */
  /* background-size: 400% 100%;
  animation: header-anim 10s linear infinite; */
  /* border-bottom: 1px solid black; */
}

@keyframes header-anim {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.header__controls-container {

  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  width: 100%;
}

.header-control {
  font-size: 1.5rem;
  height: 2.2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: transparent;
  border: 1px solid transparent;
  color: var(--font-color);
  padding: 0 0.25rem;
  border-radius: 3px;
  transition: background 150ms;
}

.control-button:active {
  opacity: 0.8;
}

input.header-control {
  background-color: rgba(97, 97, 97, 0.3);

}

.header-control:is(:hover, input:focus, .active) {
  background: rgba(255, 255, 255, 0.11);
}

.header__file-path {
  font-size: 1.0rem;
  font-weight: 300;
  pointer-events: none;
  flex: 1;
  padding: 0 0.5rem;
}

.files-list {
  position: relative;
  flex: 1;
  width: 100%;
  overflow-y: auto;
}

.status-line {
  width: 100%;
  font-size: 1rem;
  background-color: black;
  color: white;
  white-space: nowrap;
  text-overflow: ellipsis;
}