@import url(./reset.css);
@import url(./list.css);
@import url(./icons.css
);

* {
  font-size: 1rem;
  font-family: system-ui;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.app-header {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
  padding: 0.5rem;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  /* background: linear-gradient(270deg, orange, cyan, rgb(0, 255, 55)); */
  /* background-size: 400% 100%;
  animation: header-anim 10s linear infinite; */
  background: rgb(238, 236, 236);
  color: black;
  /* border-bottom: 1px solid black; */
}

@keyframes header-anim {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.header__controls-container {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.header-control {
  --font-color: black;
  font-size: 1.5rem;
  height: 2.2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: transparent;
  border: 1px solid var(--font-color);
  color: var(--font-color);
  padding: 0 0.25rem;
  border-radius: 3px;
  transition: background 150ms;
}

.header-control:is(:hover, input:focus, .active) {
  background: white;
}

.header__file-path {
  font-size: 1.2rem;
  pointer-events: none;
  flex: 1;
}

.files-list {
  --font-color: black;
  flex: 1;
  width: 100%;
  overflow-y: scroll;
}

.status-line {
  width: 100%;
  font-size: 1rem;
  background-color: black;
  color: white;
  white-space: nowrap;
  text-overflow: ellipsis;
}