@import url(./reset.css);
@import url(./list.css);
@import url(./icons.css);
@import url(./audio-player.css);

* {
  font-size: 1rem;
  font-family: system-ui;
}



:root {
  --main-color: #191919;
  --font-color: black;
  --accent-color: rgb(15, 108, 189);
  --active-color: rgb(0, 136, 255);
  --selection-color: rgb(15, 108, 189, 0.2);
  --header-color: rgb(32, 32, 32);
  --hover-button-background: rgba(149, 149, 149, 0.2);
  --control-border-radius: 3px;
  --folder-bg: rgba(251, 255, 182, 0.2);
  --folder-bg-even: rgba(251, 255, 182, 0.6);
  --file-bg-even: rgba(109, 109, 109, 0.1);
  /* --main-color: #ffffff;
  --font-color: rgb(24, 24, 24);
  --accent-color: rgb(15, 108, 189);
  --selection-color: rgb(15, 108, 189, 0.2); */
}

/* Світла тема (за замовчуванням) */


/* Темна тема */
@media (prefers-color-scheme: dark) {
  :root {
    --font-color: whitesmoke;
    --main-color: #191919;
    --accent-color: rgb(15, 108, 189);
    --active-color: rgb(0, 136, 255);
    --selection-color: rgb(15, 108, 189, 0.2);
    --header-color: rgb(32, 32, 32);
    --hover-button-background: rgba(255, 255, 255, 0.11);
    --folder-bg: rgba(251, 255, 182, 0.1);
    --folder-bg-even: rgba(251, 255, 182, 0.2);
  }
}

::-webkit-scrollbar {
  width: 1rem;
  height: auto;
}

::-webkit-scrollbar-thumb {
  background: var(--hover-button-background);
  border-radius: 2px;

}

::-webkit-scrollbar-track {
  background: var(--hover-button-background);
  ;
}

html,
body {
  margin: 0;
  padding: 0;
  background: rgba(0, 0, 0, 0.0);
  /* backdrop-filter: blur(10px); */
}

.window-header {
  display: block;
  background: var(--header-color);
  height: 3rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: end;
}

.app {
  /* background: var(--main-color); */
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.app-header {
  /* background: var(--header-color); */
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
  padding: 0.5rem;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  backdrop-filter: blur(10px);
  /* background: linear-gradient(270deg, orange, cyan, rgb(0, 255, 55)); */
  /* background-size: 400% 100%;
  animation: header-anim 10s linear infinite; */
  /* border-bottom: 1px solid black; */
}

@keyframes header-anim {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.header__controls-container {

  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  width: 100%;
}

.header-control {
  font-size: 1.4rem;
  height: 2.2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: transparent;
  border: 1px solid transparent;
  color: var(--font-color);
  padding: 0 0.25rem;
  border-radius: var(--control-border-radius);
  transition: background 150ms;
}

.control-button:active {
  opacity: 0.8;
}

input.header-control {
  background-color: var(--hover-button-background);

}

.header-control:is(:hover, input:focus, .active) {
  background: var(--hover-button-background);
}

.header__file-path {
  font-size: 1.0rem;
  font-weight: 300;
  pointer-events: none;
  flex: 1;
  padding: 0 0.5rem;
}

.files-list {
  position: relative;
  flex: 1;
  width: 100%;
  overflow-y: auto;
}

.status-line {
  width: 100%;
  font-size: 1rem;
  background-color: black;
  color: white;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.app-content {
  width: 100%;
  height: 100%;
  overflow: hidden auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.sidebar {
  height: 100%;
  width: 12rem;
  /* border-right: 2px solid var(--header-color); */
}

.sidebar-container {
  /* background: var(--header-color); */
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.sidebar-element {
  color: var(--font-color);
  margin: 2px;
  padding: 0.35rem 1rem;
  border-radius: var(--control-border-radius);
  cursor: pointer;

}

.sidebar-element:hover {
  background: var(--hover-button-background);
}

audio {
  width: 100%;
}

.bold {
  font-weight: bold;
}